@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

.universo{
   background-color: black;
   min-width: 100%;
   height: 97.7vh;
   margin: auto;
   position: relative;
}

.astronauta{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -47%);
}

