@charset "UTF-8";
body {
    font: normal 1em arial, helvetica, sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    
}

a:visited {
    color: red;
}

a:hover > :visited{
    text-decoration: underline;
}
a:visited > :hover {
    color: red;
}
.especial:hover {
   color:white;
   background-color: black;
   text-decoration: none;
}

.especial::before {
    content: '>>';
    font-weight: lighter;*
}

.especial::after {
    content: '<<';
    font-weight: lighter;
}