@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
 
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@400;500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'crow';
    src: url('fontes/October\ Crow.ttf') format('truetype');
}

@font-face {
    font-family: 'londres';
    src: url('./OldLondon.ttf') format('truetype');
}

@font-face {
    font-family: 'blood';
    src: url('./BloodScratchPersonalUse.ttf') format('truetype');
}



:root{
    --cor1: #ffffff;
    --cor2: #b91b1b;
    --cor3: #dbc970;
    --cor4: #032859;
    --cor5: #1D8925;
    --cor6: #12b357;
    --cor7: #222940;

    --font-londres: 'londres', sans-serif, cursive;
    --font-blood: 'blood', sans-serif, cursive;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(230, 191, 197, 0.61)
}

header {
    min-height: 150px;
    background-image: linear-gradient(var(--cor2),var(--cor3));
    padding: 40px;
    text-align: center;
}
header h1 {
    font-family: 'Estonia';
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
    font-size: 3.5em;
    margin-bottom: 20px;
    
}
header > p {
    font-family: 'crow', cursive;
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding: 10px;
    font-weight: normal;
}

nav{
    background-color: #dbc970;
    padding: 10px;
}
nav > a{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #dbc970;
    color: black 
}
nav > a:hover{
    text-decoration: underline;
    background-color: var(--cor4);
    color: #ffffff;  
}

main {
    background-color: #ffffff;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
}

main h1{
    text-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.404);
    font-family: var(--font-londres);
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    padding-bottom: 20px;
    padding-top: 0px;
}
main > article > p {
    font-family: 'Comforter Brush';
    text-indent: 40px;
    text-align: justify;
}
main h2{
    background-image: linear-gradient(to right, var(--cor4), transparent );
    font-family: var(--font-blood);
    font-size: 25px;
    color: var(--cor2);
    margin: 10px;
    padding: 10px;
}

main h3 {
    font-family:cursive;
}

article > p{
    line-height: 30px;
}

img {
    width: 100%;
}

#ballred {
    height: 100px;
    width: 100px;
    margin: 30px;
    background-color: rgb(201, 19, 19);
    border-radius: 50%;
}
#ballred:hover{
    background-color: #0b3f0f;
}

#ballgreen{
    display: inline-block;
    height: 100px;
    width: 100px;
    background-color: #12b357;
    margin: -100px 0px 15px 255px;
    border-radius: 50%;
    padding-bottom: -100px;
}
#ballgreen:hover{
    background-color: #dbc970;
}

div#responsivo{
    margin: 0px auto;
    width: auto;
}

#bolam{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: -124px 0px 37px 800px;
    background-color: rgb(220, 235, 20);
    border-radius: 50%;
}
#bolam:hover{
    background-color: #df0f0f;
}

#bolaz{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin: -100px 0px 15px 550px;
    background-color: rgb(20, 34, 235);
    border-radius: 50%;
}
div#bolaz:hover{
    background-color: black;
}

main img{
    margin: 20px auto;
    width: 100%;
}

img.bugdroid{
   max-width: 350px;
   display: block;
   margin: auto;
   
}

main a {
    cursor: pointer;
}

div.video{
    background-color: #032859;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 55%;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

table#tabela {
    margin: 0px auto;
    border: 1px solid var(--cor5);
    background-color: #dbc970;
    border-spacing: 0px;
}
table#tabela td{
    border: 1px solid var(--cor7);
    padding: 10px;
}

div.video2{
    margin: 30px -20px 20px -20px;
    padding: 20px;
    background-color: #0c4b0a;
    position: relative;
    padding-bottom: 55%;
}    

div.video2 > iframe{
    position: absolute;
    width: 90%;
    height: 90%;
    top: 5%;
    left: 5%;
}

div#dteste{
    position: relative;
    margin: 0px auto;
    color: white;
    text-align: center;
    height: 150px;
    width: 150px;
    background-color: #032859;
}
div#centro > p{
   line-height: 24px;
   position: absolute;
   bottom: 26%;
   left: 29%;
}

aside{
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 20px;
    background-color: var(--cor6)
    
}
aside > h3{
    font-family: 'Notable', sans-serif;
    font-weight: normal;
    background-color: var(--cor5);
    padding: 10px;
    margin: -10px -10px 10px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > p{
    background-color: var(--cor3);
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    line-height: 30px;
    text-indent: 20px;
    margin: -10px -10px 10px -10px;
    padding: 10px;
    padding-top: 5px;
}
aside > ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

aside li {
    margin: 10px;
    font-family: 'Sedgwick Ave'
}

footer p{
    background-color: var(--cor3);
    padding: 5px;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor6);
}