@charset "UTF-8";    

*{
    padding: 0px;
    margin: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
   background-color: black;
   color: white;
   text-align: center;
}
header > h1{
    font-variant: small-caps;   
    padding-top: 50px;
}
header > p{
    padding-bottom: 50px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal{
    background-color: aliceblue;
    color: black;
}

section.imagem{
    background-color: rgb(46, 45, 45);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.212);
    width: 400px;
}
 
header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
}
