@charset "UTF-8";

@font-face {
    font-family: Panic;
    src: url('PanicStricken.ttf') format('truetype');
}
@font-face {
    font-family: Road_Rage;
    src: url('Road_Rage.otf') format('opentype');
}

*{
    margin: 0px;
    padding: 0px;
}

:root {
    --cor1: #ffffff;
    --cor2: #187720;
    --cor3: #085924;
    --cor4: #014017;
    --cor5: #012606;
    --cor6: #A5E8BF;
    --cor7: #AEA8FF;
    --cor8: #b91b1b;
    --cor9: #7dc3ee;
    --cor10:#dbc970;
    --cor11:#032859;

    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: Panic;
    --font-magia: Road_Rage;
}

body {
    background-color: var(--cor10);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: linear-gradient(var(--cor10), var(--cor8));
    min-height: 150px;
    width: 100%;
    padding-top: 30px;
}
header > h1 {
    font-family: Panic;
    font-size: 3em;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.301);
}
header > p {
    text-align: center;
    padding: 30px;
    margin: 10px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.301);
    font-weight: bold;
}

main {
    background-color: var(--cor1);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: -10px;
    padding: 20px;
}
main p{
    text-indent: 30px;
    line-height: 1.5em;
    margin: 10px;
}
main > h1 {
    font-family: var(--font-magia);
    margin: 10px 0px ;
    padding: 0px 15px;
}
main > h2{
    background-image: linear-gradient(to right, var(--cor9) , transparent);
    font-family: var(--font-magia);
    padding: 6px 15px;
}
main img {
    width: 100%;
}
main strong.link::after{
    content: '\00A0\1F517';
}


nav{
    padding: 10px;
    text-shadow: 0px 7px 7px rgba(0, 0, 0, 0.301);
    position: absolute;
    right: 50px;
    top: 1px;
}
nav > a{
    color: var(--cor5);
    padding: 10px;
    box-shadow: 1px 7px -1px rgba(0, 0, 0, 0.199);
    text-decoration: none;
    font-weight: bold;
    
}
nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor1);
    border-radius: 10px;
    text-decoration: underline;
}

img.androman{
    display: block;
    max-width: 350px;
    margin: auto;
}

article {
    background-color: var(--cor11);
    margin: auto;
    padding: 20px;
    border-radius: 5px 10px;
    box-shadow: 4px 4px 9px 0px #11025c73 ;
    height: auto;
}
article > p {
    color: var(--cor1);
}

section > h3 {
    background-color: green;
    padding: 10px;
    border-radius: 6px 6px 0px 0px;
    margin: -20px -21px 0px -20px;
}

.principal{
    background-color: rgb(191, 241, 220);
    border-top-left-radius: 5px;
    padding: 20px;
    margin: 0px -20px 0px -20px ;
 
}

.principal ul{
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    columns: 2;
}

div.video {
    position: relative;
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding-bottom: 58%;
}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

footer {
    background-color: var(--cor5);
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: .8em;
}
footer > a{
    text-decoration: none;
}
footer > a:hover {
    text-decoration: underline;
}
